.Cell {
    border: 1px solid #444;
    display: inline;
    position: relative;
}

.ColoredCell {
    background-color: rgb(12, 248, 12);
    font-weight: bolder;
}

.PlayerCell {
    background-color: #ff073a;
}